<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Solnet_AngularTests">
	<listeners>
		<listener class-name="utilities.Listeners" />
	</listeners>
	<test thread-count="2" name="Test">
		<groups>
			<run>
				<exclude name="inProgress" />
			</run>
		</groups>
		<classes>
			<class name="solnetTests.LoginToTheApplicationTest" />
			<class name="solnetTests.AddRemoveTasksTest" />
			<class name="solnetTests.ValidateLandingPageTest" />
			<class name="solnetTests.AddTasksDataDrivenTest" />
			<class name="solnetTests.ValidateAllTasksTest" />
			<class name="solnetTests.ValidateImportantTasksTest" />
			<class name="solnetTests.MarkTaskCompleteTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
